@use '../base/mixins' as m;

.about {
    padding-top: 60px;

    &__link {
        position: relative;
        overflow-x: hidden;
        display: inline-block;
        vertical-align: bottom;
        transition: color .5s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--blue);
            transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &::before {
            transform: translateX(-120%);
        }

        &:hover {
            color: #0783ef;

            &::before {
                background-color: #0783ef;
                transform: translateX(0);
            }

            &::after {
                background-color: #0783ef;
                transform: translateX(120%);
            }

        }
    }

}