@use '../base/mixins' as m;


.container {
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1920px;
}

@media (max-width: 715px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0 10px;
    }
}