@use '../base/mixins' as m;

.footer {
    background-color: var(--blue);
    color: #fff;
    padding: 35px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        width: 30%;
    }

    &__icons {
        margin-top: 20px;
    }

    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        border: 2px solid #e4c4c0;
        color: #e4c4c0;
        transition: border-color 0.3s;

        &::before {
            position: absolute;
            content: '';
            inset: 0;
            background: #fff;
            border-radius: 50%;
            transform: scale(0);
            opacity: 0;
            transition: transform .3s;
        }

        svg {
            position: relative;
        }

        &:hover {
            border-color: #fff;
            color: var(--blue);

            &::before {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }

    &__contact-wrapper {
        display: flex;
        gap: 20px;
    }

    &__address,
    &__connection {
        width: 50%;
        margin-top: 20px;
    }

    &__text {
        margin-top: 20px;
    }

    &__email,
    &__phone {
        color: #fff;
        margin-top: 20px;
        transition: color .1s;

        &:hover {
            color: #015dac;
        }
    }

}