@use '../base/mixins' as m;

.footer {
    background-color: var(--blue);
    color: #fff;
    padding: 35px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper-item {
        width: 30%;
    }

    &__icons {
        margin-top: 20px;
    }

    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        border: 2px solid #e4c4c0;
        color: #e4c4c0;

        &::before {
            position: absolute;
            content: '';
            inset: 0;
            background: #fff;
            border-radius: 50%;
            transform: scale(0);
            opacity: 0;
            transition: all .3s;
        }

        &:hover {
            border-color: #fff;
            color: var(--blue);

            svg {
                position: absolute;
            }

            &::before {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }

    &__contact-wrapper {
        display: flex;
    }

    &__adress {
        width: 50%;
        margin-top: 20px;
    }

    &__text {
        margin-top: 20px;
    }

    &__email {
        color: #fff;
        margin-top: 20px;
    }
    &__conection {
        width: 50%;
        padding-left: 10px;
        margin-top: 20px;
    }

    &__tel {
        color: #fff;
        margin-top: 20px;
    }
}