@use '../base/mixins' as m;

.header {
    width: 100%;
    height: 60px;
    position: static;
    border-bottom: 1px solid var(--border-gray);

    &__nav {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1px, auto));
        height: 100%;
        justify-items: center;

        &--right {
            border-left: 1px solid var(--border-gray);
        }

        &-item {
            display: grid;
            place-items: center;
            height: 100%;
            width: 100%;
            border-right: 1px solid var(--border-gray);
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;

        }

        &-link {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                bottom: 0px;
                height: 1px;
                width: 100%;
                transform: translateX(-100%);
                background-color: var(--blue);
                transition: all 1s;
            }

            &:hover {
                &::before {
                    transform: translateX(0%);
                }
            }
        }
    }

    &__logo {}
}