@use '../base/mixins' as m;

.header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--border-gray);
    background-color: #fff;
    z-index: 1;

    &__nav {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1px, auto));
        height: 100%;
        justify-items: center;

        &--right {
            border-left: 1px solid var(--border-gray);
        }

        &-item {
            display: grid;
            place-items: center;
            height: 100%;
            width: 100%;
            border-right: 1px solid var(--border-gray);
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;

        }

        &-link {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                bottom: 0px;
                width: 0;
                height: 1px;
                background-color: var(--blue);
                transition: width .5s cubic-bezier(0.19, 1, 0.22, 1);
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }

        }
    }
}