@use '../base/mixins' as m;

.hero {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    background: url("../img/main-bg.jpg") no-repeat center / cover;

    &::before,
    &::after {
        content: '';
        position: absolute;
        inset: 0;
    }

    &::before {
        background-color: rgba(33, 56, 117, 0.35);
    }

    &::after {
        background-color: #fff;
        clip-path: polygon(0 90%, 70% 100%, 100% 90%, 100% 100%, 0 100%);
    }

    &__title {
        position: relative;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        text-shadow: 0 -14px 60px var(--blue);
        font: 400 74px/1 'DIN Pro Condensed', san-serif;
    }
}