@use '../base/mixins' as m;

.title {
    font-weight: 700;

    &--size-h2 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 50px;
    }

    &--size-h3 {
        @include m.text-fz12bold;
    }

    &--size-h4 {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}