@use '../base/mixins' as m;

.title {
    font-weight: 700;

    &--h2 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 50px;
    }

    &--h3 {
        @include m.text-fz12bold;
    }
}

