@media (max-width: 1286px) {
    .partners {

        

    }
}
@media (max-width: 1232px) {
    .partners {

        &__logo {
            width: 150px;
            height: 100%;
        }

    }
}


@media (max-width: 715px) {
    .partners {
        padding: 30px 0;
        &__list {
            gap: 80px;
        }
    }


}

@media (max-width: 515px) {
    .partners {
        &__list{
            padding-top: 20px;
        }
    }
    
}

@media (max-width: 500px) {
    .partners {
        &__list {
            flex-direction: column;
            gap: 50px;
        }
    }
}