@use '../../base/mixins' as m;

.partners {
    padding: 60px 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    &__link {
        display: block;
        transition: transform .2s ease;

        &:hover {
            transform: scale(0.9);
        }
    }

}