@use '../../base/mixins' as m;

.footer {
    background-color: var(--blue);
    color: #fff;
    padding: 35px 0;

    &__wrapper {
        position: relative;
        display: grid;
        gap: 50px;
        grid-template-columns: 180px 1fr 1fr 30%;
        grid-template-areas:
            "social-block contact-block address-block map-block";
    }

    &__social-block {
        grid-area: social-block;
    }

    &__contact-block {
        grid-area: contact-block;
    }

    &__address-block {
        grid-area: address-block;
    }

    &__map-block {
        position: absolute;
        top: -35px;
        right: -60px;
        bottom: -35px;
        left: 0;
        grid-area: map-block;
    }

    &__icons {
        margin-top: 20px;
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 37px;
        height: 37px;
        color: #e4c4c0;
        border: 2px solid #e4c4c0;
        border-radius: 50%;
        transition: border-color 0.3s;

        &::before {
            position: absolute;
            content: '';
            inset: 0;
            background: #fff;
            border-radius: 50%;
            opacity: 0;
            transform: scale(0);
            transition: transform .3s;
        }

        svg {
            position: relative;
            z-index: 1;
        }

        &:hover {
            border-color: #fff;
            color: var(--blue);

            &::before {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }

    &__contact-info {
        width: 155px;
    }

    &__address-text {
        margin-top: 20px;
    }

    &__address-email,
    &__contact-phone {
        display: block;
        margin-top: 20px;
        color: #fff;
        transition: color .1s;

        &:hover {
            color: #015dac;
        }
    }

    &__address-index {
        display: block;
    }

}