@use '../../base/mixins' as m;

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid var(--border-gray);

    &__nav {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        height: 100%;
        background-color: #fff;
    }

    &__menu {
        display: flex;
        height: 100%;
    }

    &__menu-item {
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        @include m.text-fz12bold;
        padding: 0 10px;
    }

    &__menu--left &__menu-item {
        border-right: 1px solid var(--border-gray);
    }

    &__menu--right &__menu-item {
        border-left: 1px solid var(--border-gray);
    }

    &__menu-link {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            background: linear-gradient(var(--blue), var(--blue)) 0 100% / 0 1px no-repeat;
            transition: background-size .5s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover {
            span {
                background-size: 100% 1px;
            }
        }

    }

    &__logo {
        justify-self: center;
        transition: transform .2s ease;

        &:hover {
            transform: scale(0.85);
        }
    }

    // кнопка меню (бургер) начало
    &__burger {
        display: none;
        height: 100%;
        padding: 0;
        background: none;
        border: none;
        border-left: 1px solid var(--border-gray);
    }

    &__burger-line {
        position: relative;
        display: block;
        width: 19px;
        height: 2px;
        margin: 0 auto 3px;
        background-color: var(--blue);
        transition: transform 0.4s ease;

        &:first-of-type.active {
            transform: rotate(45deg) translate(6px, 5px);
        }

        &:nth-of-type(2).active {
            transform: rotate(-45deg) translate(-2px, 2px);
        }
    }


    &__burger-label {
        display: block;
        font-size: 8px;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        transition: opacity 0.4s ease;

        &.active {
            opacity: 0;
        }
    }

    &__mobile-menu {
        display: none;
    }

    // кнопка меню (бургер) конец
}

//Выплывающие меню начало

.mobile-menu {
    display: none;
    position: fixed;
    top: -100%;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transition: top .4s;

    &.active {
        top: 59px;
    }

    &__list {
        text-align: right;
        max-width: 430px;
        background: #fff;
        height: 100%;
        margin-right: 0;
        margin-left: auto;
        border-top: 1px solid var(--border-gray);
    }

    &__link {
        position: relative;
        width: 100%;
        padding: 14px 10px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 14px;
        border-bottom: 1px solid var(--border-gray);

        span {
            background: linear-gradient(var(--blue), var(--blue)) 0% 100% / 0% 1px no-repeat;
            transition: background-size .5s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover {
            span {
                background-size: 100% 1px;
            }
        }
    }
}

//Выплывающие меню конец