@media (max-width: 715px) {
    .header {
        &__menu {
            display: none;
        }

        &__burger {
            display: block;
        }

        &__nav {
            grid-template-columns: auto 80px;
        }
    }

    .mobile-menu {
        display: block;
    }
}

@media (hover: none) {
    .header {
        &__logo:hover {
            transform: none;
        }

        &__menu-link:hover {
            span {
                background-size: 0;
            }
        }
    }

}