@use 'libs/bootstrap-reboot.min';
@use 'libs/fonts';

@use 'base/variables' as v;
@use 'base/mixins' as m;

@use 'blocks/header';
@use 'blocks/hero';
@use 'blocks/title';
@use 'blocks/about';
@use 'blocks/partners';
@use 'blocks/footer';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DIN Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--blue);
}

// Прижатый футер начало
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}
// Прижатый футер конец
a {
    display: inline-block;
    color: var(--blue);
    &:hover {
        color: var(--blue);
        text-decoration: none;
    }
}

.container {
    margin: 0 auto;
    padding: 0px 60px;
}