@use 'libs/bootstrap-reboot.min';
@use 'libs/fonts';

@use 'base/variables' as v;
@use 'base/mixins' as m;

@use 'blocks/header';

body {
    font-family: 'DIN Pro', sans-serif;
    font-weight: 400;
    color: var(--blue);
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

a {
    color: var(--blue);
    &:hover {
        color: var(--blue);
        text-decoration: none;
    }
}