@use 'libs/bootstrap-reboot.min';
@use 'libs/fonts';

@use 'base/variables' as v;
@use 'base/mixins' as m;

@use 'blocks/header';
@use 'blocks/main';
@use 'blocks/title';
@use 'blocks/about';

body {
    font-family: 'DIN Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--blue);
}

a {
    color: var(--blue);
    &:hover {
        color: var(--blue);
        text-decoration: none;
    }
}

.container {
    padding: 0px 60px;
}